{{#partial "content"}}
    {{#if heroes}}
        {{#each heroes}}
            {{heroes.name}}
        {{/each}}
    {{else}}
        <p>You don't have heroes yet!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}