<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}r!ko heroes{{/block}}</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
<h3>Welcome to r!ko's Home of Heroes!</h3>
<section id="banner">
    {{#block "content"}}

    {{/block}}
</section>
<section id="action">
    {{#block "action"}}

    {{/block}}
</section>
{{#block "footer"}}

{{/block}}
</body>
</html>